<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pogger Puppies' Hang Out With Homies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <script src="{{ url_for('static', filename='js/main.js')}}">
    </script>


</head>
<body>


<h1 class="styled">
    <center>
        Pogger Puppies' Hang Out With Homies
    </center>
    
</h1>

<center>
    <img src="/static/images/EULA.png" height="200" />
</center>

<br>
<br>
<p id="para"> </p>
<button id="button" type="button" onclick="myFunction()"> sex </button>

</body>
</html>